# Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
joined = ratings.merge(movies, on='movieId', how='left')

In [4]:
def rating_group(rate):
    if rate <= 2.0:
        return 'Низкий рейтинг'
    elif 2.0 < rate <= 4.0:
        return 'Средний рейтинг'
    elif 4 < rate <= 5:
        return 'Высокий рейтинг'

In [5]:
joined['Class'] = joined['rating'].apply(rating_group)

In [6]:
joined.head()

,userId,movieId,rating,timestamp,title,genres,Class
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,Высокий рейтинг
1,1,306,3.5,1147868817,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama,Средний рейтинг
2,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,Высокий рейтинг
3,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War,Высокий рейтинг
4,1,899,3.5,1147868510,Singin' in the Rain (1952),Comedy|Musical|Romance,Средний рейтинг

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [7]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
keywords = pd.read_csv('keywords.csv')

In [8]:

def region_set(data):
    for region, geo in geo_data.items():
        for city in geo:
            if city in data.lower():
                return region
    return 'undefined'

In [9]:
keywords['region'] = keywords['keyword'].apply(region_set)

keywords[ keywords['region'] == 'Центр' ].head()

               keyword   shows region
127       авито москва  979292  Центр
849    авито ярославль  209581  Центр
1259            москва  153050  Центр
1396   гисметео москва  140279  Центр
1482  госуслуги москва  133061  Центр

# Задание 3 (бонусное)
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде. В данной ситуации необходимо их просто заменить.

In [10]:

years = []
year = 1950
for i in range(61):
    years.append(year + i)
print(years)

[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]

In [11]:
def production_year(data):
    movie = data
    for year in years:
        if str(year) in movie:
            return str(year)
    return '1900'

In [12]:

joined['year'] = joined['title'].apply(production_year)

In [13]:
joined.head(10)

,userId,movieId,rating,timestamp,title,genres,Class,year
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,Высокий рейтинг,1994
1,1,306,3.5,1147868817,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama,Средний рейтинг,1994
2,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,Высокий рейтинг,1993
3,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War,Высокий рейтинг,1995
4,1,899,3.5,1147868510,Singin' in the Rain (1952),Comedy|Musical|Romance,Средний рейтинг,1952
5,1,1088,4.0,1147868495,Dirty Dancing (1987),Drama|Musical|Romance,Средний рейтинг,1987
6,1,1175,3.5,1147868826,Delicatessen (1991),Comedy|Drama|Romance,Средний рейтинг,1991
7,1,1217,3.5,1147878326,Ran (1985),Drama|War,Средний рейтинг,1985
8,1,1237,5.0,1147868839,"Seventh Seal, The (Sjunde inseglet, Det) (1957)",Drama,Высокий рейтинг,1957
9,1,1250,4.0,1147868414,"Bridge on the River Kwai, The (1957)",Adventure|Drama|War,Средний рейтинг,1957

In [14]:
joined.groupby('year')['rating'].mean().sort_values(ascending=False).head(10)

year
1957    3.999492
1954    3.985693
1972    3.956477
1962    3.929445
1952    3.895315
1974    3.891385
1975    3.883071
1964    3.879177
1951    3.876258
1950    3.846525
Name: rating, dtype: float64