## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов. Готовые решения принимаются в виде ссылки на GitHub.

#### Задача 1

Дана строка:

In [2]:
string_01 = "History is always written by the winners. hen two cultures clash, the loser is obliterated, and the winner writes the history books-books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [3]:
len_1 = 0
for i in string_01:
    if i != ' ':
        len_1 += 1
print(len_1)

223

2. Посчитайте, сколько в строке слов.

In [5]:
len_2 = 0
for i in string_01:
    if i == ' ':
        len_2 += 1
print(len_2+1)

44

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [12]:
def funct_1(letter,some_list):
    output = ''
    letter = input('Введите букву(кириллица)')
    some = 0
    for index, w in enumerate(some_list.split(' ')):
        some1 = some_list[index]
        some2 = some_list[index-1]
        if some1 == letter and some2 == ' ':
                output += w
                
    return print(output)
funct_1(0,string_01)

Введите букву(кириллица)w
writesNapoleon

In [11]:
import re
def funct_2(letter):
    letter = input('Введите букву')
    return re.findall(r' w\w+',string_01)
funct_2('w')

Введите буквуw

[' written', ' winners', ' winner', ' writes', ' which']

In [19]:
list2 = string_01.split(' ')
def funct_3(letter):
    for word in list2:
        if word.startswith(letter.upper()) or word.startswith(letter.lower()):
            print(word)
funct_3('w')

written
winners.
winner
writes
which

In [16]:
string_01.split(' ')

['History',
 'is',
 'always',
 'written',
 'by',
 'the',
 'winners.',
 'hen',
 'two',
 'cultures',
 'clash,',
 'the',
 'loser',
 'is',
 'obliterated,',
 'and',
 'the',
 'winner',
 'writes',
 'the',
 'history',
 'books-books',
 'which',
 'glorify',
 'their',
 'own',
 'cause',
 'and',
 'disparage',
 'the',
 'conquered',
 'foe.',
 'As',
 'Napoleon',
 'once',
 'said,',
 "'What",
 'is',
 'history,',
 'but',
 'a',
 'fable',
 'agreed',
 'upon?']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [44]:
import random
some_list_1 = [6, 'rand', 'rand', 'rand', 'rand', 'rand']
rand_seq = ''
random.shuffle(some_list_1)
for x in some_list_1:
    if x == 6:
        rand_seq += '6'
    else:
        rand_seq += str(random.randint(0,9))
print(rand_seq)

896274

#### Задача 3

Дан список:

In [21]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [22]:
summ = 0
for x in list_01:
    if (10 < x < 100) or (200 < x < 500):
        summ += x
print(summ)

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [24]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [26]:
some_dict = {}
for elem in students:
    some_dict[elem[0]] = elem[1:]
some_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

In [78]:
def change_group(student_num,group_num):
    new_group = input('введите новый номер группы')
    for x in students:
        if student_num in x:
            x.remove(group_num)
            x.append(new_group)
change_group('1102','БСТ162')
print(students)

введите новый номер группыБСТ163
[['0001', 'Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], ['1102', 'Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ163'], ['0333', 'Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], ['4004', 'Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], ['0045', 'Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], ['0096', 'Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], ['0607', 'Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']]

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [81]:
def show_group(group_num):
    for x in students:
        if group_num in x:
            print(f'Фамилия:{x[1]}, Имя:{x[2]}, Отчество:{x[3]}')
show_group('БСТ161')

Фамилия:Антонов, Имя:Антон, Отчество:Игоревич
Фамилия:Степанова, Имя:Наталья, Отчество:Александровна
Фамилия:Боков, Имя:Игорь, Отчество:Харитонович

#### Задача 5

Дана матрица:

In [50]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [52]:
total_sum = 0
for lists in matrix:
    for elem in lists:
        total_sum += elem
print(total_sum)

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [53]:
for lists in matrix:
    print(sum(lists))

15
20
15
20
19